// 1. Override variabel warna Bootstrap
$primary: #0061f2;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// 2. Override font default
$font-family-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 3.5,
);

// 3. Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// 4. Custom CSS tambahan (opsional)
:root {
    --swiper-theme-color: #0d6efd;
    --swiper-pagination-bullet-size: 15px;
}
