@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

/* Untuk browser berbasis WebKit seperti Chrome, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Untuk Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-responsive {
    font-size: 14px !important;
}

@media (min-width: 576px) {
    .fs-responsive {
        font-size: 16px !important;
    }
}

.user .dropdown-toggle::after {
    display: none !important;
}

.product-item .product-image {
    background-color: #f9f9f9 !important;
}

.product-item .product-title {
    font-size: 18px;
    color: #333;
}

.product-item .product-rate {
    font-size: 13px;
    color: #222;
}

.product-item .product-sold {
    font-size: 13px;
    color: #9d9d9d;
}

.product-item .product-price {
    font-size: 20px;
    color: #222;
}

.product-item {
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
    transition: all 500ms;
}

.product-item:hover {
    box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
}

footer * {
    color: #747474;
}

.product-image {
    background-color: #f9f9f9 !important;
}

.nav-link.active svg {
    fill: #0061f2 !important;
}
